body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff8c00;
  color: white;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.navbar .brand {
  font-weight: bold;
  font-size: 1.2em;
}

.navbar-center a {
  margin: 0 10px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

button.logout {
  padding: 6px 12px;
  background-color: #9f0606;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.logout:hover {
  background-color: #e24848;
}

.form-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-top {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-left,
.form-center,
.form-right {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.form-bottom {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.form-bottom button {
  padding: 10px 30px;
  font-size: 1rem;
  border: none;
  background-color: #8cff00;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
}

.form-bottom button:hover {
  background-color: #c7f68f;
}
